/* Set variables */
* {
    -fx-base-dark: #252321;
    -fx-base-light: #ECECEC;
}

/* Authentication pages */
.root {
    -fx-background-color: -fx-base-light;
}

#logo-container {
    -fx-background-color: -fx-base-dark;
}

#auth-btn {
    -fx-background-color: -fx-base-dark;
    -fx-cursor: hand;
}
#auth-btn:hover {
    -fx-background-color: #3F4448;
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#link {
    -fx-text-fill: #0f07fc;
    -fx-cursor: hand
}

/* Sidebar */
Button {
    -fx-background-color: -fx-base-dark;
    -fx-text-fill: white;
}
GridPane .button:hover {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: -fx-base-dark;
}
#side {
    -fx-background-color: -fx-base-dark;
    -fx-text-fill: white
}
#side:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

/* Search Bar */
#account-menu {
    -fx-background-color: -fx-base-dark;
    -fx-text-fill: white;
}

/* Mood input page */
#main-container {
    -fx-background-color: -fx-base-light;
}

#start-session {
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#start-session:hover {
    -fx-background-color: #3F4448;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
#end-session {
    -fx-text-fill: white;
}
#end-session:hover {
    -fx-background-color: #3F4448;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.list-cell
{
    -fx-font: 12pt "Arial";
}

#input-bar {
    -fx-padding: 10px 0px 0px 0px;
}

.tool-bar {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: -fx-base-dark;
    -fx-border-width: 4px;
    -fx-border-radius: 8px;
    -fx-padding: 0px 0px 5px 0px;
}
.table-view .table-column {
    -fx-alignment: CENTER;
}
.table-view .column-header-background {
    -fx-background-radius: 8px;
}
.table-view .column-header {
    -fx-background-color: -fx-base-dark;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}