/* Set variables */
* {
    -fx-base-dark: #252321;
    -fx-base-light: #ECECEC;
}

#main-container {
    -fx-background-color: -fx-base-light;
}

/* Authentication pages */
.root {
    -fx-background-color: -fx-base-light;
}

#logo-container {
    -fx-background-color: -fx-base-dark;
}

#auth-btn {
    -fx-background-color: -fx-base-dark;
    -fx-cursor: hand;
}
#auth-btn:hover {
    -fx-background-color: #3F4448;
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

#link {
    -fx-text-fill: #0f07fc;
    -fx-cursor: hand;
}

/* Sidebar */
#sidebar {
    -fx-background-color: -fx-base-dark;
}
Button {
    -fx-background-color: -fx-base-dark;
    -fx-text-fill: white;
}
#side-btn {
    -fx-background-radius: 20px;
    -fx-padding: 10px 0px 10px 0px;
}
#side-btn:hover {
    -fx-background-color: black;
}
#side-btn:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}
#side {
    -fx-background-color: black;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#side:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-scale-z: 1.2;
}

/* Search Bar */
#account-menu {
    -fx-background-color: transparent;
}
#account-menu .label {
    -fx-text-fill: #fff;
}
#account-item .label {
    -fx-text-fill: -fx-base-dark;
}

/* Dashboard */
/*
#box {
    -fx-background-radius: 10;
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-border-radius: 10;
    -fx-border-width: 4px;
    -fx-border-color: -fx-base-dark;
}
*/
#pie-container {
    -fx-background-color: #fff;
    -fx-background-radius: 10;
}
/*
#pie-container .default-color0.chart-pie{-fx-pie-color: transparent;}
#pie-container .default-color1.chart-pie{-fx-pie-color: transparent;}
#pie-container .default-color2.chart-pie{-fx-pie-color: transparent;}
#pie-container .default-color3.chart-pie{-fx-pie-color: transparent;}
#pie-container .default-color4.chart-pie{-fx-pie-color: transparent;}
#pie-container .default-color5.chart-pie{-fx-pie-color: transparent;}
#pie-container .default-color6.chart-pie{-fx-pie-color: transparent;}
*/
#pie-container .chart-pie-label {
    -fx-fill: -fx-base-dark;
    -fx-stroke: -fx-base-dark;
    -fx-font: 10pt "Arial";
}
#pie-container .chart-pie-label-line {
    -fx-fill: -fx-base-dark;
    -fx-stroke: -fx-base-dark;
}
#pie-container .chart-legend {
    -fx-background-color: transparent;
    -fx-font-size: 10;
}
#pie-container .chart {
    -fx-pref-width: 450;
    -fx-pref-height: 300;
    -fx-legend-visible: false;
}
.chart-title {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}

/* Mood input page */
#start-session {
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#start-session:hover {
    -fx-background-color: #3F4448;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
#end-session {
    -fx-text-fill: white;
}
#end-session:hover {
    -fx-background-color: #3F4448;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.list-cell
{
    -fx-font: 12pt "Arial";
}

#input-bar {
    -fx-padding: 10px 0px 0px 0px;
}

.tool-bar {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: -fx-base-dark;
    -fx-border-width: 4px;
    -fx-border-radius: 8px;
    -fx-padding: 0px 0px 5px 0px;
}
.table-view .table-column {
    -fx-alignment: CENTER;
}
.table-view .column-header-background {
    -fx-background-color: -fx-base-dark;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
}